<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
</head>
<body>
<h1>Cars list</h1>
<p>Number of cars =
    <span th:text=" ${cars.size()}">Cars</span>
</p>
<table>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Serial number</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text=" ${car.id}"></td>
        <td th:text=" ${car.model}"></td>
        <td th:text=" ${car.serialNumber}"></td>
    </tr>
</table>
</body>
</html>